* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #555555;
}
table, th, td {
  border: 1px solid;
}
p {
	color: white;
	font-size: 20px;
}
button {
	background-color: white;
	padding: 10px;
	border: 1px solid white;
	border-radius: 3px;
}
button:hover {
	transition: .3s;
	background-color: #555555;
	color: white;
}
progress {
  -webkit-appearance: none;
  width: 30%;
}

::-webkit-progress-bar {
  background-color: #F0FFFF;
  border: 1px solid white;
  border-radius: 3px;
}
::-webkit-progress-value {
  background-color: #00FA9A;
}